<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/navbar.ejs') %>

    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include('../layout/sidebar.ejs') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <!-- main section -->
                <hr />
                <% if(msz.length>0){ %>
                  <div class="alert alert-success"><%= msz %></div>
                <% } %>
                <form action="/admin/role/create" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Role Name : </label>
                    <input type="text" class="form-control" name="roleName" />
                  </div>

                  <div class="form-group d-flex">
                    <label class="mt-2" for="exampleCheck1">Actions : </label>
                    <div class="form-check form_checkbox">
                      <input
                        name="actions"
                        type="checkbox"
                        id="create_record"
                        value="create_record"
                      />
                      <label for="create_record">Create Record</label>

                      <input
                        name="actions"
                        type="checkbox"
                        class="ml-3"
                        value="read_record"
                        id="read_record"
                      />
                      <label for="read_record">Read Record</label>

                      <input
                        name="actions"
                        type="checkbox"
                        class="ml-3"
                        value="update_record"
                        id="update_record"
                      />
                      <label for="update_record">Update Record</label>

                      <input
                        name="actions"
                        type="checkbox"
                        value="delete_record"
                        id="delete_record"
                        class="ml-3"
                      />
                      <label for="delete_record">Delete Record</label>
                    </div>
                  </div>

                  <button id="update_btn" type="submit" class="btn btn-primary">
                    Add
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include('../layout/partialFooter.ejs') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>

    <%- include('../layout/footer.ejs') %>
  </body>
</html>
