<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/navbar.ejs') %>

    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include('../layout/sidebar.ejs') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <!-- main section -->
                <hr />
                <a href="/admin/addrole">
                  <button class="btn btn-success">Create Role</button>
                </a>

                <% if(msz.length>0){ %>
                  <div class="alert alert-success"><%= msz %></div>
                <% } %>

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Sl. No.</th>
                      <th scope="col">RoleName</th>
                      <th scope="col" colspan="5">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let count=1 %> <% roles.forEach((item,index)=>{ %>
                    <tr>
                      <th scope="row"><%= count++ %></th>
                      <td><%= item.roleName %></td>

                      <td class="">
                        <input name="actions" type="checkbox" id="create_record"
                        value="create_record" <%=
                        item.actions.includes("create_record") ? 'checked' : ""
                        %> />
                        <label for="create_record">Create Record</label>
                      </td>
                      <td>
                        <input name="actions" type="checkbox" class="ml-3"
                        value="read_record" id="read_record" <%=
                        item.actions.includes("read_record") ? 'checked' : "" %>
                        />
                        <label for="read_record">Read Record</label>
                      </td>
                      <td>
                        <input name="actions" type="checkbox" class="ml-3"
                        value="update_record" id="update_record" <%=
                        item.actions.includes("update_record") ? 'checked' : ""
                        %> />
                        <label for="update_record">Update Record</label>
                      </td>
                      <td>
                        <input name="actions" type="checkbox"
                        value="delete_record" id="delete_record" class="ml-3"
                        <%= item.actions.includes("delete_record") ? 'checked' :
                        "" %> />
                        <label for="delete_record">Delete Record</label>
                      </td>

                      <td>
                        <a href="/admin/role/details/<%= item._id %>">
                          <button id="update_btn" class="btn btn-primary">
                            Edit
                          </button>
                        </a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include('../layout/partialFooter.ejs') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>

    <%- include('../layout/footer.ejs') %>
  </body>
</html>
